@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: white;
}
.green__color {
  color: #0B634E;
}
.dark {
  color: black;
}
.dark-logo {
  display: none;
}
.wrapper {
  width: 80%;
  margin: 0 auto
}
a.green__color:hover {
  text-decoration: underline;
}
h1.title {
  font-size: 36px;
  font-weight: 600;
}
h2.title {
  font-size: 36px;
  font-weight: 600;
}
h3.title {
  font-size: 32px;
  font-weight: 600;
}
h4.title {
  font-size: 24px;
  font-weight: 600;
}
h5.title {
  font-size: 20px;
  font-weight: 600;
}
.arrow {
  width: 16px;
  height: 16px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}
.button {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  color: #0B634E;
  padding: 14px 28px;
  border: 2px solid #0B634E;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background-color: #0B634E;
  color: white;
  transition: all 0.5s ease 0s
}
.button__flex {
  display: flex;
  align-items: center;
}
.zapis__button {
  text-align: center;
  margin-top: 42px;
}
.teacher__button {
  margin-top: 42px;
}

/* Header */

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease 0s;
  color: white;
}
.header-color {
  transition: all 0.5s ease 0s;
  background-color: white;
  box-shadow: #d8d6d0 2px 0px 5px;
  color: #000000;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}
.header-item-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo img {
  height: 42px;
}
.messenger {
  display: flex;
  align-items: center;
  margin-right: 133px;
}
.messenger-icon {
  margin-right: 14px;
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
.messenger-icon:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.05);
}
p.messenger-text {
  width: 150px;
  font-weight: 600;
  margin-right: 21px;
}
.schedule-phone {
  margin-top: 7px;
}
.schedule-phone a {
  font-size: 16px;
  font-weight: 600;
  float: right;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.phone {
  color: white;
}
.schedule-phone a:hover {
  color: #0B634E;
  transition: all 0.3s ease 0s;
}

/*---------------*/

/* Form */

.form {
  background-color: white;
  width: 420px;
  border-radius: 20px;
  box-shadow: #d8d6d0 0px 0px 5px;
}
.form__wrapper {
  width: 336px;
  margin: 0 auto;
  padding: 49px 0;
}
.form__text {
  margin-top: 14px;
  line-height: 20px;
}
.form__item {
  margin-top: 21px;
}
.form__privacy {
  margin-top: 21px;
  line-height: 20px;
}
input.form__input {
  width: 336px;
  height: 49px;
  background-color: #DFDFDF;
  color: black;
  border-radius: 5px;
  padding: 0 21px;
}
input.form__button {
  width: 336px;
  height: 49px;
  border-radius: 5px;
  background-color: #0B634E;
  color: white;
  transition: all 0.3s ease 0s;
}
input.form__button:hover {
  background-color: #0A5644;
  transition: all 0.3s ease 0s;
}
.radio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
label.form__label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
label.form__label::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #0B634E;
}
label.form__label::after {
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
input.form__radio {
  display: none;
}
input.form__radio:checked + label.form__label::after {
  content: '';
  transform: scale(1);
  transition: all 0.5s ease 0s;
}
.error {
  box-shadow: 0px 0px 5px red;
}
/*---------------*/

/* Main */

.main {
  background: url(../img/bg-2.jpeg) center;
  background-size: cover;
  height: 100vh;
}
.block__main {
  padding-top: 126px;
  padding-bottom: 105px;
}
.main__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__title {
  width: 80%;
  line-height: 50px;
}
.main__title h1 {
  color: white;
}
.main__upt {
  width: 80%;
  margin-top: 84px;
}
p.upt__text {
  font-size: 20px;
  margin-bottom: 21px;
  line-height: 30px;

  color: white;
}
/*---------------*/

/* Theory */

.block__theory {
  padding-top: 84px;
  margin-bottom: 105px;
}
.theory__padding {
  padding-top: 84px;
}
.theory__subtitle {
  margin-top: 42px;
}
.theory__items {
  width: 567px;
}
.theory__item {
  margin-top: 21px;
}
.name__theory {
  width: 567px;
  cursor: pointer;
  position: relative;
}
.name__theory p{
  font-size: 24px;
  width: 509px;
}
.theory__arrow {
  transform: rotate(135deg);
  position: absolute;
  top: 2px;
  right: 0;
  transition: all 0.5s ease 0s;
}
.theory__content {
  display: none;
  margin-left: 21px;
}
.theory-active {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.5s ease 0s;
}
.theory__content-item {
  margin-top: 14px;
  width: 492px;
  position: relative;
}
.theory__content-item p {
  line-height: 20px;
}
.theory__content-item::before {
  content: '';
  width: 10px;
  height: 2px;
  background-color: #0B634E;
  position: absolute;
  top: 10px;
  left: -14px;
}
.theory__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.theory__items {
  padding-top: 42px;
}
.accordion__btn {
  margin-top: 63px;
  margin-bottom: 42px;
}
p.btn__acc {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  color: #0B634E;
  padding: 14px 28px;
  border: 2px solid #0B634E;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 21px;
}
p.btn__acc:hover {
  background-color: #0B634E;
  color: white;
  transition: all 0.5s ease 0s;
}
.theory__items {
  display: none;
}
.theory__ecs {
  margin-top: 42px;
}
.theory__ecs p {
  font-size: 20px;
  line-height: 30px;
}

/*---------------*/

/* InfoCourses */

.block__info-courses {
  padding: 105px 0;
  border-top: 1px solid #0b634e89;
  border-bottom: 1px solid #0b634e89;
}
.info-courses__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
}
.info-courses__item {
  max-width: 300px;
  padding: 0 14px;
}
.info-courses__title {
  position: relative;
}
.info-courses__title::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: -20px;
  background: url(../img/tick.png);
  background-size: contain;
}
.info-courses__text {
  margin-top: 14px;
}
.info-courses__text p{
  font-size: 16px;
  line-height: 24px;
}

/*---------------*/

/* Teacher */

.block__teacher {
  height: 100vh;
  padding-top: 84px;
}
.teacher__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theory-and-teacher-photo img{
  width: 100%;
}
.teacher__name {
  margin-top: 42px;
}
.teacher__post {
  margin-top: 7px;
  width: 360px;
}
.teacher__post p {
  font-size: 12px;
  font-weight: 600;
  color: #777777;
}
.teacher__info {
  margin-top: 42px;
  width: 486px;
}
.teacher__info p {
  font-size: 16px;
  line-height: 25px;
}

/*---------------*/

/* Practice */

.block__practice {
  padding-top: 84px;
  padding-bottom: 105px;
}
.practice__content {
  margin-top: 42px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.practice__item {
  width: 30%;
  box-shadow: 0px 0px 10px #777777;
  border-radius: 20px;
  min-height: 450px;
}
.practice__item-wrapper {
  padding: 42px 0;
  width: 90%;
  margin:  auto;
}
.practice__day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.practice__info {
  margin-top: 42px;
}
.practice__info p {
  position: relative;
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.practice__info p::before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: -20px;
  background: url(../img/tick.png);
  background-size: contain;
}
.circle__load {
  width: 63px;
  height: 63px;
  position: relative;
}
.c33 {
  background: url(../img/33.png);
  background-size: contain;
}
.c66 {
  background: url(../img/66.png);
  background-size: contain;
}
.c100 {
  background: url(../img/100.png);
  background-size: contain;
}
.load__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------*/

/* Students */

.students__title {
  text-align: center;
  margin-bottom: 63px;
}
.work__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 21px;
}
.hide-content {
  display: none;
  width: 100%;
}
.work__img {
  width: 350px;
  margin: 0 auto;
}
.work__img img {
  width: 350px;
}
.work__button {
  margin: 42px 0;
  padding: 16px 0;
  text-align: center;
}
.work__button p {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  color: #0B634E;
  padding: 14px 28px;
  border: 2px solid #0B634E;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  border-radius: 5px;
}
.work__button p:hover {
  background-color: #0B634E;
  color: white;
  transition: all 0.5s ease 0s;
}
._active {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 21px;
}
/*----------------*/

/* Contact */

.block__contact {
  padding-top: 84px;
  padding-bottom: 105px;
}
.contact__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__item {
  margin: 0 21px;
}
.contact__text {
  width: 420px;
  text-align: center;
}
.contact__messenger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-messenger-icon {
  margin: 21px 7px;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.contact-messenger-icon:hover {
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}
.contact__phone {
  text-align: center;
}
p.contact__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.contact__address {
  text-align: center;
  margin-top: 21px;
}

/*----------------*/

/* Footer */

.footer {
  padding-top: 84px;
  padding-bottom: 105px;
}
.footer__container {
  position: relative;
}
.footer__logo img{
  width: 126px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__info {
  text-align: center;
}
.footer__grafic p {
  font-size: 24px;
  font-weight: 400;
}
.footer__item {
  margin-top: 42px;
}
.footer__address {
  margin-top: 21px;
}
.footer__number {
  margin-top: 14px;
}
.footer__address p {
  font-size: 24px;
}
.footer__number p {
  font-size: 20px;
}

/*----------------*/

/* Questions */

.block__question {
  padding: 84px 0;
}
.question__items {
  margin-top: 63px;
  border-bottom: 1px solid #0b634e4d;
}
.question__item {
  border-top: 1px solid #0b634e4d;
  padding: 21px 0px;
  cursor: pointer;
}
.question__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question__plus-1, .question__plus-2 {
  position: absolute;
}
.question__plus-1 {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1px;
  background-color: black;
  transform: translate(-50%,-50%);
}
.question__plus-2 {
  top: 50%;
  left: 50%;
  width: 1px;
  height: 30px;
  background-color: black;
  transform: translate(-50%,-50%);
}
.question__item-title p{
  font-size: 20px;
}
.question__plus-bg {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 50%;
  transition: all 0.5s ease 0s;
}
.question__item:hover .question__plus-bg {
  background-color: #108e70;
  transition: all 0.5s ease 0s;
}
.question__item:hover .question__plus-1 {
  background-color: white;
  transition: all 0.5s ease 0s;
}
.question__item:hover .question__plus-2 {
  background-color: white;
  transition: all 0.5s ease 0s;
}
.question__content {
  padding-top: 21px;
  font-size: 16px;
  line-height: 24px;
  display: none;
}
.plus-active {
  transform: rotate(-45deg);
  transition: all 0.5 ease 0s;
}

/*----------------*/

.block__price {
  margin-top: 21px;
}

.modal {
  padding: 150px 0;
}
.submit__text p{
  font-size: 24px;
  font-weight: 600;
  color: black;
}


/************* MOBILE *********************/

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }
  .practice__item {
    min-height: 450px;
  }
}
@media screen and (max-width: 950px) {
  .student__item {
  margin-left: 0px;
}
  .main {
    height: auto;
  }
  .footer__logo {
    display: none;
  }
  .theory__content-item {
    width: 100%;
  }
  .main__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__title {
    width: 100%;
  }
  .main__upt {
    width: 100%;
    margin-top: 84px;
  }
  .info-courses__flex {
    flex-direction: column;
  }
  .info-courses__item {
    margin-top: 21px;
    max-width: 100%;
  }
  .theory__flex {
    display: block;
  }
  .theory__items {
    width: 100%;
    margin: 0 auto;
  }
  .name__theory {
    width: 100%;
  }
  .name__theory p {
    width: 80%;
  }
  .theory__items {
    width: 100%
  }
  .messenger {
    display: flex;
    align-items: center;
    margin-right: 10%;
  }
  .schedule-header {
    width: 250px;
  }
  .block__teacher {
    height: auto;
  }
  .teacher__title {
    display: none;
  }
  .teacher__flex {
    flex-direction: column;
  }
  .theory-and-teacher-photo {
    width: 80%;
    margin: 0 auto;
  }
  .teacher__item:nth-child(2) {
    width: 100%;
    order: -1;
  }
  .teacher__post {
    width: 100%;
  }
  .teacher__info {
    width: 100%;
  }
  .practice__content {
    flex-direction: column;
  }
  .practice__item {
    min-height: auto;
    margin: 14px auto;
    width: 70%;
  }
  .arrow-next, .arrow-prev {
    display: none;
  }
  .block__students {
    height: auto;
  }
  .student__flex {
    flex-direction: column;
    align-items: center;
  }
  .student__carusel {
    height: 90%;
  }
  .student__name {
    text-align: center;
  }
  .student__post {
    text-align: center;
  }
  .student__feedback {
    text-align: center;
  }
  .contact__flex {
    flex-direction: column;
    align-items: center;
  }
  .contact__item {
    margin-top: 42px;
  }
  .student__feedback {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
  .contact__text {
    width: 100%;
  }
  .form {
    background-color: white;
    width: 100%;
    border-radius: 20px;
  }
  .form__wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 28px 0;
  }
  .form__text {
    margin-top: 14px;
    line-height: 20px;
  }
  .form__item {
    margin-top: 21px;
  }
  .form__privacy {
    margin-top: 21px;
    line-height: 20px;
  }
  input.form__input {
    width: 100%;
    height: 49px;
    background-color: #DFDFDF;
    color: black;
    border-radius: 5px;
    padding: 0 21px;
  }
  input.form__button {
    width: 100%;
    height: 49px;
    border-radius: 5px;
    background-color: #0B634E;
    color: white;
    transition: all 0.3s ease 0s;
  }
  input.form__button:hover {
    background-color: #0A5644;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 700px) {
  p.messenger-text {
    display: none;
  }
  .schedule-header {
    display: none;
  }
  .question__item-title p{
    width: 390px;
    line-height: 30px;
  }
}
@media screen and (max-width: 450px) {
  .practice__item {
    width: 100%;
  }
  .question__item-title p { 
    width: 290px;
  }
}